<% @teams.each do |team| %>
    <div class="team" id="team_<%=team.id%>">
      <% @compatibility = YesList.compatibility(team.users) %>
      <div class="heading">
        <h4><%=link_to team.name,team%></h4>
        <span class="comp-show" id="compatibility_mark_<%=team.id%>"><%= render 'compatibility_mark', compatibility:@compatibility %></span>
      </div>
      <div class="skill" id="skill_<%=team.id%>">
        <%= render 'team_skills', team:team %>
      </div>
      <div class="compatibility">
        <span id="compatibility_list_<%=team.id%>"><%= render 'compatibility_list', compatibility:@compatibility %></span>
      </div>
      <div class="members">
        <% team.users.each do |user| %>
            <%= render 'user', user:user %>
        <% end %>
      </div>
    </div>
<% end %>
