$('#member_<%=@user.id %>').remove();
$('#team_<%=@new_team.id%>').find('.members').append("<%= j render 'user', user:@user %>");
$('#skill_<%=@old_team.id%>').empty().append("<%= j render 'team_skills', team:@old_team %>");
$('#compatibility_mark_<%=@old_team.id%>').empty().append("<%= j render 'compatibility_mark', compatibility:YesList.compatibility(@old_team.users) %>");
$('#compatibility_list_<%=@old_team.id%>').empty().append("<%= j render 'compatibility_list', compatibility:YesList.compatibility(@old_team.users) %>");
$('#skill_<%=@new_team.id%>').empty().append("<%= j render 'team_skills', team:@new_team %>");
$('#compatibility_mark_<%=@new_team.id%>').empty().append("<%= j render 'compatibility_mark', compatibility:YesList.compatibility(@new_team.users) %>");
$('#compatibility_list_<%=@new_team.id%>').empty().append("<%= j render 'compatibility_list', compatibility:YesList.compatibility(@new_team.users) %>");

$(function(){
    var timer;
    $('.round').mouseenter(function(){
        var that = $(this);
        timer = setTimeout(function(){
            that.parent().find('.details').fadeIn();
        },1000);
    }).mouseleave(function(){
        clearTimeout(timer);
        $('.round').parent().find('.details').fadeOut();
    });

    $('.member').draggable({
        revert: 'invalid',
        // scroll: false,
        helper: 'clone',
        // containment: 'window',
        stop: function(){
            $(this).draggable('option','revert','invalid');
        }
    });
    $('.member').droppable({
        greedy: true,

        // tolerance: 'touch',
        drop: function(event,ui){
            ui.draggable.draggable('option','revert',true);
            $(this).html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />');
        }
    });
    $('.members').droppable({
        accept: '.member',
        greedy: true,
        // tolerance: 'fit',
        over: function(){
            {$(this).css('background-color','rgba(225,143,65,0.2');}
        },
        out: function(){
            $(this).css('background-color','transparent');
        },
        drop: function(event2,ui){
            $(this).css('background-color','transparent');
            var team = $(this).parent().attr('id');
            var user = ui.draggable.attr('id');
            var source = ui.draggable.parent().parent().attr('id');
            if(team===source){
                ui.draggable.draggable('option','revert',true);
                return
            }
            ui.draggable.html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />')
            $.ajax({
                type: 'POST',
                url: '/teams/transfer',
                data: $.param({old_team:source,new_team:team,user:user})
            })
        }
    });
})

$("#notice-message").html("<p><%= flash[:notice] %></p>").show();
$(".error").show();
$(function(){setTimeout(function(){
    $("#notice-message").fadeOut('slow',function() {
        $(this).hide();
    })
    $(".error").fadeOut('slow',function() {
        $(this).hide();
    })
}, 2000);
});

<% flash.clear %>

//$('#member_<=@change[:user].id %>').remove();
//$('#team_<=@change[:new].id%>').find('.members').append("<= j render 'user', user:@change[:user] %>");
//$('#skill_<=@change[:old].id%>').empty().append("<= j render 'team_skills', team:@change[:old] %>");
//$('#compatibility_mark_<=@change[:old].id%>').empty().append("<= j render 'compatibility_mark', compatibility:YesList.compatibility(@change[:old].users) %>");
//$('#compatibility_list_<=@change[:old].id%>').empty().append("<= j render 'compatibility_list', compatibility:YesList.compatibility(@change[:old].users) %>");
//$('#skill_<=@change[:new].id%>').empty().append("<= j render 'team_skills', team:@change[:new] %>");
//$('#compatibility_mark_<=@change[:new].id%>').empty().append("<= j render 'compatibility_mark', compatibility:YesList.compatibility(@change[:new].users) %>");
//$('#compatibility_list_<=@change[:new].id%>').empty().append("<= j render 'compatibility_list', compatibility:YesList.compatibility(@change[:new].users) %>");