
    <% @users.each do |user| %>
        <div id="user-<%=user.id%>" class="user-indi">
          <div class="long">
            <%= link_to user do %>
                <%= image_tag(user.avatar.url(:thumb),size:'20x20',class:'round')+"#{user.fullname}" %>
            <% end %>
          </div>
          <!--<div class="short"><%=user.score%></div>-->
          <div class="short mobile"><%=user.program%></div>
          <!--<div class="short mobile"><%=user.graduation%></div>-->
          <!--<div class="short mobile"><%=user.preference.location%></div>-->
          <!--<div class="short mobile"><%=user.preference.competition%></div>-->

          <span>
            <% user.skill_calc.each do |k,v| %>
                <div class="short" style="width: 60px"><%= v.round(1) %></div>
            <% end %>
          </span>
          <div class="submit-btn"><%=  %><%= link_to 'STATS', user_stats_simulation_path(user), remote: true %></div>
          <% filter = {};params[:filter].each{|k,v| filter[k] = v } if params[:filter]  %>
          <% sp = {}; sp[:sp1] = params[sp:[:sp1]]; sp[:sp2] = params[sp:[:sp2]]; sp[:sp3] = params[sp:[:sp3]] %>
          <% so = {}; so[:so1] = params[so:[:so1]]; so[:so2] = params[so:[:so2]]; so[:so3] = params[so:[:so3]] %>
          <div class="submit-btn"><%= link_to 'ADD', {controller:'simulations', action:'new', filter: filter,name: params[:name], sp: sp, so: so,  :team => @team.id, :new_member => user.id, :members => @members.pluck(:id)}, id:"add-#{user.id}", remote: true %></div>
        </div>

    <% end %>

