<% content_for :title, 'Builder' %>
<div class="simulations">
  <div class="wrapper">
    <h1>Team Builder</h1>

    <div class="user-stats">
    </div>

    <div class="user-view">
      <div class="user-search" id="user-search">
        <%= form_tag search_simulations_path, method: :get, remote: true do %>
            <%= text_field_tag :name, params[:name],autofocus: true, placeholder: 'Enter Name', class: 'txt-fld' %>
            <%= hidden_field :team, :id, value: @team.id %>
            <%= submit_tag 'SEARCH', name: nil, class: 'submit-btn' %> <small><%= link_to 'SORT |', '#', id:'sorter' %> <%= link_to 'FILTER', '#', id:'filter' %></small><br/>
            <span id="filter-sort">
           <span class="sorter" style="display: none"><%= render 'helper/sorter' %></span>
              <span class="filter" style="display: none"><%= render 'helper/filter' %></span>
            </span>
            <div id="member-adds">
              <% @members.each do |m| %>
                  <%= hidden_field :members, :id, :value => m.id,multiple:true, id:"member-#{m.id}" %>
              <% end %>
            </div>
        <% end %>
      </div>
      <div id="user-view">
        <div class="user-head">
          <div class="long">NAME</div>
          <!--<div class="short">SCORE</div>-->
          <div class="short mobile">PROGRAM</div>
          <!--<div class="short mobile">GRADUATION</div>-->
          <!--<div class="short mobile">LOCATIONS</div>-->
          <!--<div class="short mobile">COMPETITIONS</div>-->
          <% Skill.group(:category).count.each do |k,v| %>
              <div class="short" style="width: 60px"><%= k[0..4].upcase+'.' %></div>
          <% end %>
        </div>
        <div class="user-list" id="infinite-coffee-scroll">
          <div id="scroll-list">
            <%= render 'users' %>
          </div>
          <%= will_paginate @users, page_links: false %>
        </div>
      </div>
    </div>

    <div class="compatibility"></div>
    <div class="member-view">
      <div class="heading">
        <div class="long"><%= 'Name' %></div>
        <div class="short"><%= 'Score' %></div>
        <div class="short"><%= 'Program' %></div>
        <div id="warning">Issues</div>
      </div>
      <div id="list">
        <%= render 'members' %>
      </div>
    </div>

    <div class="team-skill-view">

      <%= @members.any? ? (bar_chart User.combined_skills(@members),library: { backgroundColor:'transparent', hAxis: {title:'Level'},title:'Team Skills',colors: ['orangered'], :members => @members.pluck(:id)},height:'250px', id:'team-skills', remote:true) : (bar_chart [["",0]],library: { hAxis:{title:'Level'}, vAxis: {title:'Skills'},title:'Team Skills',colors: ['orangered'], backgroundColor:'transparent'}, id:'team-skills', remote:true) %>
    </div>
  </div>
</div>