<% content_for :title, 'Y-List' %>
<div class="yes-lists">
  <div class="wrapper">

    <% if current_user.admin %>
        <div class="main-block">
          <h1>Student Working Preferences</h1>

          <div class="yes-list-chart-1">
            <p>The Most Difficult</p>
            <%= column_chart difficult_graph_yes_lists_path,library:{backgroundColor:'transparent', vAxis:{title:"No. of 'NO's Selected"}}, id:'difficult-chart' %>
          </div>
          <div class="yes-list-chart-2">
            <p>The Most Hated</p>
            <%= column_chart hated_graph_yes_lists_path, id:'hated-chart', library:{backgroundColor:'transparent', vAxis:{title:"No. of students who selected 'NO'"}} %>
          </div>

          <%= "#{@count} students with Working Preferences." %>

          <hr/>
          <div class="users-admin-view" id="infinite-coffee-scroll">
            <%= render 'users_admin_view' %>
          </div>
          <%= will_paginate @users %>

        </div>
    <% else %>
        <div class="main-block">
          <h1>Your Yes-List</h1>

        </div>

        <div class="list-block">
          <p> User Name - Your Working Preference</p>
          <% if @yes_lists.any? %>
              <%= render 'yes_lists' %>
          <% else %>
              <p id="none-message"> You have not marked any user-compatibility preferences.</p>
          <% end %>
        </div>
        <%= will_paginate @yes_lists %>

        <hr/>

        <div class="add-block">
          <%= link_to 'Quick Add', new_yes_list_path, class:'submit-btn', remote: true, id:'add-block' %>
          <hr/>
        </div>
        <div class="all-users" id="infinite-coffee-scroll">
          <%= render 'users' %>
        </div>
        <%= will_paginate @users %>
    <% end %>
  </div>
</div>