<% content_for :title, 'Unlock Account' %>
<div class="registrations">
  <div class="wrapper">
    <h2>UNLOCK ACCOUNT</h2>

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <% f.label :email %>
          <%= f.email_field :email, autofocus: true, id:'inputs', placeholder:'my.email@ufl.edu' %>
        </div>
        <p></p>
        <div class="actions">
          <%= f.submit "Get Instructions", class:'submit-btn' %>
        </div>
    <% end %>
    <br/>
    <%= render "devise/shared/links" %>

  </div>
</div>