<div id="check-box">
  <% Program.all.each do |program| %>
      <%= check_box( :filter, :programs, {multiple: true}, program.name, nil) %>
      <small class="label"><%= program.name %></small>
  <% end %>
  <br/>
  <% ((Date.today.year)..(Date.today.year+6)).each do |year| %>
      <%= check_box(:filter, :graduations, {multiple: true}, year, nil) %>
      <small class="label"><%= year %></small>
  <% end %>
  <br/>
  <% %w[FALL SPRING SUMMER].each do |term| %>
      <%= check_box(:filter, :terms, {multiple: true}, term, nil) %>
      <small class="label"><%= term %></small>
  <% end %>
</div>