<%= image_tag(@user.avatar.url(:display), size:'200x200' , class: 'round') %>

<% if current_user == @user || current_user.admin %>
    <span class="info">
      <%= @user.fullname %><br/>
      <%= "Email: \t\t\t\t\t#{@user.email}"%><br/>
      <% unless @user.admin %>
          <%= @user.program ? "Program: \t\t\t\t#{@user.program}" : "Program information not filled." %><br/>
          <%= @user.term ? "Term: \t\t\t\t\t#{@user.term}" : "Term information not filled." %><br/>
          <%= @user.graduation ? "Graduation: \t\t\t#{@user.graduation}" : "Graduation information not filled." %><br/>
          <%= @user.active ? "Participation Status: \t\tActive" : "Participation Status: \t\tInactive" %><br/>
          <%= "Skill Score: \t\t\t\t#{@user.score.round(2)}" %><br/>
      <% end %>
    </span>
<% else %>
    <span class="info">
      <%= "Name: #{@user.fullname||'Incomplete'}" %><br/>
      <%= "Email: \t\t\t\t\t#{@user.email}"%><br/>
      <% unless @user.admin %>
          <%= @user.program ? "Program: \t\t\t\t#{@user.program}" : "Program information not filled." %><br/>
          <%= @user.term ? "Term: \t\t\t\t\t#{@user.term}" : "Term information not filled." %><br/>
          <%= @user.graduation ? "Graduation: \t\t\t#{@user.graduation}" : "Graduation information not filled." %><br/>
          <%= @user.active ? "Participation Status: \t\tActive" : "Participation Status: \t\tInactive" %><br/>
          <%= "Skill Score: \t\t\t\t#{@user.score.round(2)}" %><br/>
      <% end %>
    </span>
<% end %>