<% content_for :title, 'Dashboard' %>
<div class="dashboard">
  <div class="wrapper">
    <div class="news-block">
      <h2>New Competitions</h2>
      <p>News Items for Competitions, Teams.</p>

      <% if @invites.any? %>
        <p>Received Invites</p>
        <% @invites.each do |invite| %>
          <p id="invite-<%=invite.id%>">
            <%= "#{User.find(invite.sender_id).name} has invited you to join #{Team.find(invite.team_id).name}" %>
            <small>
              <%= link_to 'Accept', members_join_path(invite), remote: true %>
            </small>
            <small><%= link_to 'Reject', invite, method: :delete, data: {confirm: 'Are you Sure?'} %></small>
          </p>
        <% end %>
      <%end%>

    </div>

    <div class="activities-block">
      <h2>Activities</h2>
      <h3>Current Teams</h3>
          <%= render 'teams' %>
      <h3>Current Competitions</h3>
      <% if @comps.count > 0 %>
          <% @comps.each do |comp| %>
              <p>
                <%= link_to comp.name, comp  %>
              </p>
          <% end %>
      <% else %>
          <p>No Competitions Joined Yet</p>
      <% end %>
    </div>

    <div info-block>
      <h3>Preferences</h3>
      <%= render 'preferences/preference' %>

      <h3>Skills Added - <%= current_user.score %></h3>
      <div class="column-graph">
        <% if @user_skills.any? %>
            <% @user = current_user %>
            <%= render 'indi_skill_graph' %>
        <% end %>
      </div>
      <div class="skill-list">
        <%= render 'user_skills/index' %>
      </div>

      <hr/>
      <%= link_to 'Add Skill', new_user_skill_path,remote:true, id: 'add-skill' %>
    </div>
  </div>
</div>