<% content_for :title, 'Change Password' %>

<div class="user-form">
  <h1>Change Password</h1>

  <%= form_for(@user, :url => { :action => "update_password" }, :method => [:post] ) do |f| %>

      <div class="data-fields">
        <%= f.label :current_password, "Old Password" %>
        <%= f.password_field :current_password %>
      </div>

      <div class="data-fields">
        <%= f.label :password, " New Password" %>
        <%= f.password_field :password, :autocomplete => "off"  %>
      </div>
      <div class="data-fields">
        <%= f.label :password_confirmation, "New Password Again" %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="action-btn">
        <%= f.submit 'Update Password', class: 'btn' %>
        <small><%= link_to 'Cancel', :back %></small>
      </div>
  <% end %>
</div>