<% content_for :title, 'All Students' %>
<div class="users">
  <div class="wrapper">
    <h1>All Users</h1>
    <div class="index">

      <div class="user-search">
        <%= form_tag users_path, method: :get do %>
            <%= text_field_tag :name, params[:name],autofocus: true, placeholder: 'Enter Name', class: 'txt-fld' %>

            <%= select :sp, :sp1, %w(PROGRAM GRADUATION SCORE),autofocus: true, class: 'txt-fld', include_blank: 'None', selected: (params[:sp][:sp1] if params[:sp]) %>
            <%= select :so, :so1, %w(ASC DESC),autofocus: true, class: 'txt-fld', selected: (params[:so][:so1] if params[:sp]) %>
            <%= select :sp, :sp2, %w(PROGRAM GRADUATION SCORE),autofocus: true, class: 'txt-fld', include_blank: 'None', selected: (params[:sp][:sp2] if params[:sp]) %>
            <%= select :so, :so2, %w(ASC DESC),autofocus: true, class: 'txt-fld', selected: (params[:so][:so2] if params[:sp]) %>
            <%= select :sp, :sp3, %w(PROGRAM GRADUATION SCORE),autofocus: true, class: 'txt-fld', include_blank: 'None', selected: (params[:sp][:sp3] if params[:sp]) %>
            <%= select :so, :so3, %w(ASC DESC),autofocus: true, class: 'txt-fld', selected: (params[:so][:so3] if params[:sp]) %>

            <%= submit_tag 'Refine', name: nil, class: 'submit-btn' %>
        <% end %>
      </div>
      <div class="user-list">
        <span class="list-head">
          <ul>
            <li style="width: 200px">Name</li>
            <li>Program</li>
            <li>Skill Rank</li>
            <li class="mobile">Term</li>
            <li class="mobile">Graduation</li>
            <li class="mobile">Status</li>
          </ul>
        </span>
        <span class="list-rows">
          <ul>
            <%= render 'index_user' %>
            <br/><br/>
            <%= will_paginate @users %>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>