<% content_for :title, 'All Students' %>
<div class="users">
  <div class="wrapper">
    <h1>All Users</h1>
    <div class="index">

      <div class="user-search">
        <%= form_tag users_path, method: :get, remote: true do %>
            <%= text_field_tag :name, params[:name],autofocus: true, placeholder: 'Enter Name', class: 'txt-fld' %>
            <%= submit_tag 'SEARCH', name: nil, class: 'submit-btn' %> <small><%= link_to 'SORT |', '#', id:'sorter' %> <%= link_to 'FILTER', '#', id:'filter' %></small> <br/>
            <span id="filter-sort">
              <span class="sorter" style="display: none"><%= render 'helper/sorter' %></span>
              <span class="filter" style="display: none"><%= render 'helper/filter' %></span>
            </span>
        <% end %>
      </div>
      <div class="user-list">
        <span class="list-head">
          <ul>
            <li style="width: 200px">Name</li>
            <li>Program</li>
            <li>Skill Rank</li>
            <li class="mobile">Term</li>
            <li class="mobile">Graduation</li>
            <li class="mobile">Status</li>
          </ul>
        </span>
        <span class="list-rows">
          <ul id="infinite-coffee-scroll">
            <span class="scroll-list" id="scroll-list">
              <%= render 'index_user' %>
            </span>
            <br/>
            <%= will_paginate @users, page_links: false %>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>