<% content_for :title, @user.name %>


  <h1> Profile Page </h1>

  <p><%= @user.email.humanize %></p>
  <p><%= @user.name %></p>
  <p><%= @user.fullname %></p>

  <% if current_user == @user %>
    <small><%= link_to 'Edit', edit_user_path(@user) %></small>
    <small><%= link_to 'Change Password', user_edit_password_path %></small>
  <% end %>

  <p><%= current_user.admin ? "If you See this you are admin":'' %></p>


  <div class="column-graph">
    <% if @user.user_skills.any? %>

        <%= render 'indi_skill_graph' %>
    <% end %>
  </div>

  <p>content top</p>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/>
  <p>Again</p>
  <p>Again</p>
  <p>Again</p>
  <p>Again</p>
  <p>Again</p>
  <p>content Bottom</p>

