<!--<p id="remove-id-<%= @user_skill.id %>">-->
  <!--<%= @user_skill.name + ' - '  %> <%= "Level #{@user_skill.level}" %>-->
  <!--<small><%= link_to 'Edit', edit_user_skill_path(@user_skill),id:"edit-#{@user_skill.id}", remote:true %></small>-->
  <!--<small><%= link_to 'Remove', @user_skill, method: :delete, data: {confirm: 'Are You Sure?'}, remote: true %></small>-->
<!--</p>-->