<span id="remove-id-<%= skill.id %>">
    <li class="short"><%= Skill.all.index(skill)+1 %></li>
    <li class="long"><%= link_to "#{skill.name}", '#' %></li>
    <li class="short"><%= skill.weight %></li>
    <li class="long"><%= "#{skill.category}" %></li>
    <li class="action"><%= link_to 'Edit', edit_skill_path(skill),id:"edit-#{skill.id}", remote:true %></li>
    <li class="action"><%= link_to 'Remove', skill, method: :delete, data: {confirm: 'Are You Sure?'}, remote: true %></li>
    <!--Todo-->
</span>