<% @skills.each do |skill| %>
      <span id="remove-id-<%= skill.id %>">
        <li class="short"><%= @skills.all.index(skill)+1 %></li>
        <li class="long"><%= link_to "#{skill.name}", '#' %></li>
        <li class="short"><%= skill.weight %></li>
        <li class="long"><%= "#{skill.category}" %></li>
        <!--Todo-->
        <li class="action"><%= link_to 'Edit', edit_skill_path(skill),id:"edit-#{skill.id}", remote:true %></li>
        <li class="action"><%= link_to 'Remove', skill, method: :delete, data: {confirm: 'Are You Sure?'}, remote: true %></li>
    </span>
<% end %>