<% @skills.each do |skill| %>
    <tr id="remove-id-<%= skill.id %>">
        <td><%= @skills.all.index(skill)+1 %></td>
        <td><%= link_to "#{skill.name}", skill %></td>
        <td><%= skill.weight %></td>
        <td><%= "#{skill.category}" %></td>
        <td>Description Needed?</td>
        <!--Todo-->
        <td><small><%= link_to 'Edit', edit_skill_path(skill),id:"edit-#{skill.id}", remote:true %></small></td>
        <td><small><%= link_to 'Remove', skill, method: :delete, data: {confirm: 'Are You Sure?'}, remote: true %></small></td>
    </tr>
<% end %>