<% content_for :title, 'Skills' %>

<div class="skills">
  <div class="wrapper">
    <h1>Skills</h1>
    <h4>User Distribution</h4>
    <small><%= link_to 'DETAILS', {controller:'skills', action:'index', view:'details'}, id:'details', remote:true %>
    <%= link_to 'CORE', {controller:'skills', action:'index', view:'core'}, id:'core' %></small>
    <div class="skill-dist">
      <div id="chart">
        <%= render 'category_skills' if Skill.count > 0 %>
      </div>
    </div>
    <div class="table-wrapper">
        <div class="skills-table">
            <ul>
              <li class="short">S.No.</li>
              <li class="long">SKILL</li>
              <li class="short">WGHT</li>
              <li class="long">CATEGORY</li>
              <li class="action"></li>
              <li class="action"></li>
            </ul>
            <ul id="skill-list">
              <% if @skills.count > 0 %>
                  <%= render partial: 'skills' %>
              <% else %>
                <span id="none-message" style="text-align: center"><span colspan="6">No Skills Added Yet.</span></span>
              <% end %>
            </ul>
          </table>
        </div>
    </div>

    <hr/>
    <%= link_to 'Create Skill', new_skill_path, class:'submit-btn', id: 'create-skill', remote: true %>

  </div>
</div>