<% content_for :title, 'Create Skill' %>
<div class="skills">
  <div class="wrapper">
    <div class="skills-form">
      <h1>Add Skill</h1>
      <%= form_for @skill, url: {action: 'create'}, html: {:multipart => true}, remote: true, id:'skill-form' do |f| %>

          <%= f.label :skill_name, 'Skill Name*' %>
          <%= f.text_field :name, autofocus: true, required: true, placeholder: 'E.g.: Formatting, Recycling' %>
          <br/>
          <%= f.label :category, 'Category*' %>
          <%= f.text_field :category, autofocus: true, required: true, placeholder: 'E.g.: Excel, City Management' %>
          <br/>
          <%= f.label :weight, 'Skill Weight' %>
          <%= f.number_field :weight, autofocus: true, min: 0, max: 5, placeholder: '0' %><small><i> Scale 1-5, 0 for none</i></small>
          <br/><br/>
          <%= f.submit 'Add' %>

      <% end %>
    </div>
  </div>
</div>