<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <div class="logo"><%= image_tag('icons/UFsig_small.gif') %></div>
      <div class="items" id="screen"><%= link_to 'WARRINGTON SCHOOL OF BUSINESS', 'http://warrington.ufl.edu/' %></div>
      <div class="items" id="mobile"><%= link_to 'WSB', 'http://warrington.ufl.edu/' %></div>
    </div>
    <nav>
      <div class="nav-mobile">
        <!-- This is the toggle element -->
        <section id="nav-toggle"><%= link_to '', '#' %><span></span><span></span><span></span></section>
      </div>
      <ul class="nav-list">
        <!-- After Sign In -->
        <% if user_signed_in? %>
            <li><%= link_to 'Home', '/welcome/home' %></li>
            <li><%= (current_user.fname && current_user.fname !='') ? link_to(current_user.fname, '#') : link_to(current_user.fullname, '#') %>
              <ul class="nav-dropdown">
                <li><%= link_to 'Profile', current_user, :method => 'get' %></li>
                <li><%= link_to 'Logout', '/users/sign_out', :method => 'delete' %></li>
              </ul>
            </li>
            <li><%= link_to image_tag('icons/notification.png',size:'20x20', id:'notif-icon'), '#',id:"notif-dropdown" %>
              <ul class="nav-dropdown notif-dropdown">
                <li id="no-notifications"><%= link_to 'No new notifications', '#' unless current_user.notifications.unread.present? %></li>
                <div id="notifications"><%= render('notifications/new_notifications') %></div>
              </ul>
            </li>
        <% else %> <!-- If not signed in -->
            <li><%= link_to 'Home', '/welcome/home' %></li>
            <li><%= link_to 'Sign Up', '/users/sign_up' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</section>