
<div class="sidebar-container">
  <div class="wrapper">
    <% if user_signed_in? %>

    <div class="cover">
      <div class="image">
        <%= image_tag current_user.avatar.url(:display), size:'80x80' , class: 'round' %>
      </div>
      <div class="tabs">
        <ul>
          <li><%= link_to 'Dashboard', user_dashboard_path %>
            <% if current_user.admin %>
              <ul>
                <li><%= link_to 'Skill List', skills_path %></li>
              </ul>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

      <div class="settings">
        <div class="tabs">
          <ul>
            <li><%= link_to 'Profile', current_user, :method => 'get' %></li>
            <li><%= link_to 'Preferences', '#' %></li>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="tasks">
      <div class="tabs">
        <ul>
          <li><%= 'Competitions'%>
            <ul>
              <li><%= link_to 'Create', competitions_new_path %></li>
              <li><%= link_to 'Search', competitions_index_path %></li>
            </ul>
          </li><br/>
          <li><%= 'Teams'%>
            <ul>
              <li><%= link_to 'My Teams', '#' %></li>
              <li><%= link_to 'New Team', '#' %></li>
            </ul>
        </ul>
      </div>
    </div>
    <div class="close">
      <div class="tabs">
        <ul>
          <li>Other Things</li>
        </ul>
      </div>
    </div>
  </div>
</div>