<div class="side-bar-open" id="open-side-bar"></div>
<div class="side-bar-close" id="close-side-bar"></div>
<div class="sidebar-container">
  <div class="wrapper">

    <% if user_signed_in? %>

    <div class="cover">
      <div class="image">
        <%= link_to(image_tag(current_user.avatar.url(:display), size:'80x80' , class: 'round'), edit_avatar_users_path , remote:true, id:'edit-avatar') %>
      </div>
    </div>

      <div class="settings">
        <div class="tabs">
          <ul>
            <%= link_to dashboard_users_path do %>
                <li>Dashboard</li>
            <% end %>
            <% if current_user.admin %>
                <%= link_to skills_path do %>
                    <li>Skill List</li>
                <% end %>
                <%= link_to programs_path do %>
                    <li>Program List</li>
                <% end %>
            <% end %>
            <%= link_to yes_lists_path do %>
                <li>The Yes-List</li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="tasks">
      <div class="tabs">
        <ul>
          <%= link_to competitions_path do %>
              <li>Search Competition</li>
              <% end %>
          <%= link_to new_competition_path do %>
              <li>Create Competition</li>
          <% end %>
          <br/>
          <%= link_to teams_path do %>
              <li>Search Teams</li>
              <% end %>
          <%= link_to mine_teams_path do %>
              <li>My Teams</li>
          <% end %>
          <br/>
          <%= link_to users_path do %>
              <li>All Students</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>