<%= content_for :title, 'Home' %>
<% unless user_signed_in? %>
  <div class="login-control">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label '', 'Username' %><br/>
          <%= f.email_field :email, autofocus: true, placeholder:'Gator.Link@ufl.edu', class:'login-field' %><br>
          <%= f.label '', 'Password' %><br/>
          <%= f.password_field :password, autocomplete: "off", placeholder:'-Password-', class:'login-field' %><br>
          <p></p>
          <%= f.submit "LOG IN", class:'login-button' %>
        </div>

    <%end%>
  </div>
<% end %>

<div class="temp-content" style="margin-top:5em">
  <div class="platform" style="padding-top: 5em;padding-bottom: 5em;">
    <h1>
      University of Florida - GBCS
    </h1>
    <h2>
      Case Competition Team Builder
    </h2>
    Welcome to UFGBCS Team Builder.
    <%= user_signed_in? ? 'You are already Signed In' : 'Please Sign Up / Login to begin.' %> <br/><br/>
    Do ensure your details are always up-to-date to facilitate the selection process.
  </div>
</div>

