<!DOCTYPE html>
<html>
  <head>
    <!--< favicon_link_tag('/assets/icons/favicon.ico', size: '20x20') %>-->
    <title><%= yield(:title)%> | GBCS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.google.com/jsapi', 'chartkick' %>
  </head>

  <body>
    <%= render 'welcome/navbar' %>

    <%= render 'welcome/sidebar' %>


    <div class="notice-messages error" style="display: none">
      <p id="notice-message" style="display: none"> <%= notice %></P>
    </div>
    <% if notice && notice != '' %>
      <div class="notice-messages" id="notice-message">
        <p> <%= notice %></P>
      </div>
    <% elsif alert && alert != '' %>
      <div class="notice-messages">
        <p> <%= alert %></P>
      </div>
    <% end %>

    <div class="pages">
      <%= yield %>
    </div>

    <div class="footer">
      <%= render 'welcome/footer' %>
    </div>


    <script>
        $(document).ready(function(){
            setTimeout(function(){
                $('.notice-messages').fadeOut("very-slow", function(){
                    $(this).hide();
                })
            }, 2000);
        });
    </script>
  </body>
</html>
